<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shopkun - mua sắm trực tuyến, mua sắm online giá tốt</title>
	<link rel="icon" href="/images/icon-logo.jpg">
	<link rel="stylesheet" href="/css/account/forgot-password.css">
</head>

<body>
	<div th:insert="~{home/header}"></div>

	<div class="container" id="containerFG">
		<div class="row">
			<div class="formFG col-xl-6 col-lg-7 col-md-8 col-sm-9">
				<div class="logo">
					<img src="/images/logo.png" alt="shopkun">
				</div>
				<div class="title">
					ĐỔI MẬT KHẨU
				</div>
				<div class="emailXN" th:inline="text">Chúng tôi đã gửi mã xác nhận qua email [[${session.emailXN}]]. Vui
					lòng xác nhận email</div>

				<form action="/account/forgot-password/change-password" method="post">
					<class class="form-group">
						<label>Mã xác nhận</label>
						<input type="text" name="verification" class="form-control" th:value="${vlVerification}">
						<div class="message" th:text="${msVerification}"></div>
					</class>

					<class class="form-group">
						<label>Mật khẩu mới</label>
						<input type="password" name="newPassword" class="form-control" th:value="${vlNewPassword}">
						<div class="message" th:text="${msNewPassword}"></div>
					</class>

					<class class="form-group">
						<label>Nhập lại mật khẩu mới</label>
						<input type="password" name="cfNewPassword" class="form-control" th:value="${vlCfNewPassword}">
						<div class="message" th:text="${msCfNewPassword}"></div>
					</class>

					<class class="btnFG">
						<button>ĐỔI MẬT KHẨU</button>
						<button class="cancel" formaction="/account/forgot-password/cancel">HỦY</button>
					</class>
				</form>
				<a class="resend" href="/account/forgot-password/change-password?resend">Gửi lại mã xác nhận</a>
			</div>

			<script th:if="${fgSC!=null}">
				swal("", "Đổi mật khẩu thành công", "success")
				.then(() => {
					location.href = '/account/login'
				})
			</script>
		</div>
	</div>
</body>
<script src="/js/jquery/jquery-3.7.1.min.js"></script>
<script src="/js/account/forgot-password.js"></script>

</html>