<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Shopkun - mua sắm trực tuyến, mua sắm online giá tốt</title>
<link rel="icon" href="/images/icon-logo.jpg">
<link rel="stylesheet" href="/css/account/forgot-password.css">
</head>
<body>
	<div th:insert="~{home/header}"></div>
	
	<div class="container" id="containerFG">
		<div class="row">
			<div class="formFG col-xl-6 col-lg-7 col-md-8 col-sm-9">
				<div class="logo">
					<img src="/images/logo.png" alt="shopkun">
				</div>
				<div class="title">
					KHÔI PHỤC MẬT KHẨU
				</div>
				
				<form action="/account/forgot-password" method="post">
					<class class="form-group">
						<label>Tên đăng nhập</label>
						<input type="text" name="username" class="form-control" th:value="${vlUsername}">
						<div class="message" th:text="${msUsername}"></div>
					</class>
					
					<class class="btnFG">
						<button>KHÔI PHỤC</button>
					</class>
				</form>
			</div>
		</div>
	</div>
</body>
<script src="/js/jquery/jquery-3.7.1.min.js"></script>
<script src="/js/account/forgot-password.js"></script>
</html>