<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Shopkun - mua sắm trực tuyến, mua sắm online giá tốt</title>
<link rel="icon" href="/images/icon-logo.jpg">
<link rel="stylesheet" href="/css/account/register.css">
</head>
<body>
	<div th:insert="~{home/header}"></div>
	
	<div class="container" id="containerRegister">
		<div class="row">
			<div class="formRegister col-xl-6 col-lg-7 col-md-8 col-sm-9">
				<div class="logo">
					<img src="/images/logo.png" alt="shopkun">
				</div>
				<div class="title">
					ĐĂNG KÝ
				</div>
				
				<form action="/account/register" method="post">
					<div class="form-group">
						<label>Tên đăng nhập</label>
						<input type="text" name="username" class="form-control" th:value="${vlUsername}">
						<div class="message" th:text="${msUsername}"></div>
					</div>
					
					<div class="form-group">
						<label>Mật khẩu</label>
						<input type="password" name="password" class="form-control" th:value="${vlPassword}">
						<div class="message" th:text="${msPassword}"></div>
					</div>
					
					<div class="form-group">
						<label>Họ và tên</label>
						<input type="text" name="fullName" class="form-control" th:value="${vlFullName}">
						<div class="message" th:text="${msFullName}"></div>
					</div>
					
					<div class="form-group">
						<label>Địa chỉ</label>
						<input type="text" name="address" class="form-control" th:value="${vlAddress}">
						<div class="message" th:text="${msAddress}"></div>
					</div>
					
					<class class="form-group">
						<label>Email</label>
						<input type="text" name="email" class="form-control" th:value="${vlEmail}">
						<div class="message" th:text="${msEmail}"></div>
					</class>
					
					<div class="form-group">
						<label>Số điện thoại</label>
						<input type="number" name="phone" class="form-control" th:value="${vlPhone}">
						<div class="message" th:text="${msPhone}"></div>
					</div>
					
					<div class="btnRegister">
						<button>ĐĂNG KÝ</button>
					</div>
				</form>
				
				<div th:if="${registerSC!=null}">
					<script>
						swal("", "Đăng ký thành công", "success")
					</script>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="/js/jquery/jquery-3.7.1.min.js"></script>
<script src="/js/account/register.js"></script>
</html>