<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Shopkun - Lỗi</title>
<link rel="icon" href="/images/icon-logo.jpg">
</head>
<body style="background-color: white;">
	<div th:insert="~{home/header}"></div>
	
	<div class="container" style="padding-top: 110px;">
		<h4>Lỗi không tìm thấy đường dẫn trang. Vui lòng quay lại <a href="/" style="text-decoration: none; color:deepskyblue">trang chủ</a></h4>
		<img src="/images/loi-404.jpg" width="100%" height="400px">
	</div>
</body>
</html>