<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Shopkun - mua sắm trực tuyến, mua sắm online giá tốt</title>
<link rel="stylesheet" href="/css/home/footer.css">
</head>
<body>
	<div class="container-fluid p-0">
		<footer class="col-xl-12">
			<div class="logo">
				<a href="/"><img src="/images/logo.png" alt="home"></a>
			</div>
			
			<h3 class="if">Shopkun - mua sắm trực tuyến, mua sắm online giá tốt</h3>
		</footer>
	</div>
</body>
</html>